# 依赖
node_modules/

# 构建产物
android/app/build/
android/build/
android/.gradle/
ios/build/
ios/Pods/

# Metro
.metro-health-check*

# 系统文件
.DS_Store
*.log

# IDE
.idea/
.vscode/
*.iml

# Xcode 用户数据
xcuserdata/
*.xcuserstate

# 环境
.env
.env.*
local.properties

# 打包
*.apk
*.aab
*.ipa
*.hprof
vendor/
